{
  "comments":false,
  "env":{
      "main":{
          "presets":[
              [
                  "env",
                  {
                      "targets":{
                          "node":8
                      }
                  }
              ],
              "stage-0"
          ]
      },
      "renderer":{
          "presets":[
              [
                  "env",
                  {
                      "modules":false
                  }
              ],
              "stage-0",
              "stage-2",
              "stage-3"
          ]
      }
  },
  "plugins":[
      "transform-runtime"
  ]
}